@import './variables';

footer {
    border-top: 10px solid $tuatara;

    .footer-top {
        background-color: $cod-grey;

        .wrapper {
            padding: 50px 0;
    
            .company {
                color: $storm-dust;
                margin-top: 30px;
    
                img {
                    width: 60%;
                }
    
                p {
                    font-size: 12px;
                    margin: 20px 0;
                    line-height: 25px;
                }
    
                button {
                    background-color: $bright-sun;
                    border: none;
                    padding: 6px 20px;
    
                    a {
                        text-decoration: none;
                        font-size: 13px;
                        color: $tuatara;
                    }
                }
            }
            
            .tweets {
                h3 {
                    font-size: 13px;
                    color: $bright-sun;
                    margin-bottom: 25px;
                    font-weight: 700;
                }
    
                .tweetcard {
                    color: $white;
                    display: flex;
    
                    .left-side {
                        margin-right: 15px;
    
                        .profilepic {
                            border-radius: 50%;
                            width: 25px;
                        }
                    }
                    .right-side {
    
                        .tweet-head {
                            display: flex;
                            justify-content: space-between;
                            
                            .logo {
                                width: 15px;
                            }
                            
                            .name {
    
                                .user {
                                    font-size: 12px;
                                    font-weight: bold;
                                }
            
                                .username {
                                    font-size: 10px;
                                    margin-bottom: 5px;
                                }
                            }
                        }  
                    }
                }
    
                p {
                    font-size: 11px;
                    margin-bottom: 20px;
                }
    
                .img-tweet {
                    width: 100%;
                }
                
                .tweet-bottom {
                    display: flex;
                    justify-content: space-between;
                    color: $silver;
                    margin-top: 10px;
    
                    .like, .share {
                        margin-right: 15px;
                        width: 15px;
                    }
                    .data {
                        font-size: 13px;
                    }
                }
            }   
        
    
            .contacts {
                
            h3 {
                font-size: 13px;
                color: $bright-sun;
                margin-bottom: 25px;
                font-weight: 700;
            }
    
            ul {
                list-style-type: none;
                color: $storm-dust;
    
                li {
                font-size: 11px;
                line-height: 20px;
                margin-bottom: 10px;
                display: flex;
    
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
    
                    i {
                        margin-right: 10px;
                        margin-top: 5px;
                    }
                }
                
              }
            }
            
            .map {
                h3 {
                    font-size: 13px;
                    color: $bright-sun;
                    margin-bottom: 25px;
                    font-weight: 700;
                }
    
                img {
                    width: 85%;
                }
            } 
        }  
    }

    .footer-bottom {
        background-color: black;
        
        .wrapper {
            display: flex;
            justify-content: space-between;
            color: $dove-grey;
            padding: 20px;
            
            .copyright {
                font-size: 10px;
                text-transform: uppercase;
            }

            .socials {
                font-size: 13px;
                
                a {
                    margin-left: 13px;
                    text-decoration: none;
                    color: inherit;
                }
            }
        }

    }
}