@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .logo {
        img {
            width: 75%;
            padding: 20px 0;
        }
    }
    
    .menu {
        display: flex;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 11px;

        li {
            margin: 0 20px;
            color: $dove-grey;
            position: relative;

            &.current {
                color: $bright-sun-mat;

                &:after {
                    border-left: solid transparent 20px;
                    border-right: solid transparent 20px;
                    border-bottom: solid white 20px;
                    transform: rotate(180deg);
                    bottom: -50px;
                    content: "";
                    height: 0;
                    left: 50%;
                    margin-left: -13px;
                    position: absolute;
                    width: 0;
                }
            }

            &:hover a {
                color: $bright-sun-mat;
            }

            a {
                text-decoration: none;
                color: inherit;
                font-family: 'Montserrat', sans-serif;
            }
           
            .my-btn {
                background-color: $bright-sun;
                padding: 8px 20px;

                &:hover {
                    background-color: $tuatara;
                    color: $white;
                }
            }
        }
    }
}