@import './variables';

.numbers-background {
    background-image: url("../assets/img/home-244125289.jpg");
    height: 450px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .single-card {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 18px;
        color: $bright-sun;

        i {
            font-size: 55px;
        }
        
        div {
            font-size: 40px;
            font-weight: 600;
        }

        p {
            color: $white;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}