@import './variables';

.owners-background {
    background-image: url("../assets/img/home-parallax-144609983.jpg");
    height: 580px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    position: relative;
    overflow: hidden;

    &:before{
        background: $pampas;
        position: absolute;
        content: "";
        left:0;
        right:0;
        top: -25px;
        height: 80px;
        border-radius: 0 0 50% 60%;
    }
    &:after{
        background: $pampas;
        position: absolute;
        content: "";
        left:0;
        right:0;
        bottom: -25px;
        height: 80px;
        border-radius: 50% 50% 0 0;
    }

    h4 {
        font-size: 25px;
        margin-bottom: 35px;

        &::after {
            display: block;
            content: '';
            width: 150px;
            height: 2px;
            background-color: $bright-sun;
            position: absolute;
            left: 50%;
            margin: 15px -75px;
        }
    }

    p {
        margin-top: 60px;
        width: 40%;
        text-align: center;
        margin: 30px;
        font-style: italic;
        font-size: 15px;
        line-height: 25px;
        font-weight: 500;
    }

    h6 {
        font-size: 14px;
        font-weight: 600;
    }
    
    img {
        width: 8%;
        border-radius: 50%;
    }
}