@import './variables';

section {
    text-align: center;
    padding: 100px 0;
    color: $tuatara;

    h3 {
        font-size: 25px;

        &::after {
            display: block;
            content: '';
            width: 150px;
            height: 2px;
            background-color: $bright-sun;
            position: absolute;
            left: 50%;
            margin: 20px -75px;
        }
    }

    .sub-text {
        font-size: 13px;
        margin-top: 50px;
    }

    .services {
        margin-top: 60px;
        display: flex;
        justify-content: center;

        .single-card {
            background-color: $pampas;
            margin: 15px;
            padding: 20px;
            position: relative;
            
            .icon {
                font-size: 22px;
                border: 1px solid;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                padding: 10px;
                display: inline-block;
                margin-bottom: 10px;
            }

            p {
                font-size: 13px;
                line-height: 25px;
            }
        }
    }
}