// Color cube
$white: #ffffff;
$cod-grey: #1e1e1e;
$dove-grey: #6b6868;
$bright-sun: #fed23f;
$silver: #bcbcbc;
$cornflower-blue: #5ea3e7;
$olive: #7d7903;
$orange: #fe6f1d;
$vernice-blue: #045287;

// Median cut
$pampas: #f0ede6;
$tuatara: #31312f;
$bali-hai: #8faeb8;
$yellow-metal: #7e703c;
$ship-cove: #6586b1;

// Material design
$bright-sun-mat: #f9d03f;
$storm-dust: #666665;
$olivetone: #7e6b12;
$limed-spruce: #39454c;
$seagull: #7eb7ea;